<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta property="og:title" content="Магазин ИНSТРУМЕНТ г. Рязань" />
  <meta property="og:description"
    content="Магазин инструментов в Рязани. Всё для дачи, строительства и ремонта. В нашем магазине есть всё необходимое для дачи, строительства и ремонта: ручные инструменты, лаки, краски, электро инструменты, силовое оборудование, садовый инвентарь, измерительные инструменты, такелаж, пневмпатика, режущие инструменты, крепёжные изделия и многое другое" />
  <meta property="og:image" content="blob:https://web.whatsapp.com/0d5f0907-bffe-424a-99c7-096e2e599ed0">
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="620" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://stormy-plains-62240.herokuapp.com/" />

  <meta name="description"
    content="Магазин инструментов в Рязани. Всё для дачи, строительства и ремонта. В нашем магазине есть всё необходимое для дачи, строительства и ремонта: ручные инструменты, лаки, краски, электро инструменты, силовое оборудование, садовый инвентарь, измерительные инструменты, такелаж, пневмпатика, режущие инструменты, крепёжные изделия и многое другое">
  <meta name="keywords"
    content="магазин инструмент, магазин инsтрумент, инструмент, инsтрумент, инструменты Рязань, магазин строительных инструментов, магазин инструментов Рязань, магазин строительных инструментов Рязань">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/burger.css">
  <link rel="icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="/{{ css }}">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/popup.css">
  <title>{{ title }}</title>
</head>