<section class="main-section">
    <div class="container">
        <div class="aboutus-inner">
            <h2>О Компании</h2>
            <p>Компания ИНSТРУМЕНТ уже более 5 лет на рынке занимается поставками широкого спектра продукции. В нашем
                ассортименте вы найдёте:</p>
            <ul>
                <li>Ручные инструменты</li>
                <li>Электро-бензо инструменты</li>
                <li>Лаки, краски</li>
                <li>Крепежи</li>
                <li>Силовое оборудование</li>
                <li>Садовый инвентарь</li>
                <li>Измерительные инструменты</li>
                <li>Такелаж</li>
                <li>Режущие инструменты</li>
                <li>Пневматика</li>
                <li>Сайдинг</li>
                <li>Прочее</li>
            </ul>
        </div>
    </div>
</section>