<section>
    <div class="container">
        <div class="contacts-inner">
            <h2>Наши Контакты</h2>
            <div class="our-location">
                <div class="our-location-contacts">
                    <p class="p-head">Адрес:</p>
                    <p class="p-p our-adress">г. Рязань, 185 км окружной дороги (Рынок «Стройка»)</p>
                    <p class="p-head">Телефон:</p>
                    <a href="tel:+79610111171" class="p-p our-phone">8 961 011-11-71</a>
                    <p class="p-head">Режим работы:</p>
                    <p class="p-p our-timework">Каждый день: 8:00 - 20:00</p>
                </div>
                <div class="our-location-img">
                    <img src="../img/shop.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <script type="text/javascript" charset="utf-8" async
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Acd81d7efef12ad64950eb9adbc4c800f481fac271a3dc8689d4cb938d84fce50&amp;width=100%25&amp;height=350&amp;lang=ru_RU&amp;scroll=true"></script>
</div>