<section class="main-section">
    <div class="container">
        <div class="delivery-inner">
            <h2>Доставка</h2>
            <p>Мы доставляем заказы по всей Рязанской области. Отправка происходит с наших складов г. Рязань, 185-й км
                Окружной дороги, рынок «Стройка», 1-11 павильон</p>
        </div>
    </div>
</section>