<section class="section1">
    <div class="blackbg">
      <div class="container">
        <div class="section1-inner">
          <h1>Магазин строительных инструментов в Рязани</h1>
          <p class="white-p">В нашем магазине есть всё необходимое для дачи, строительства и ремонта: ручные инструменты, лаки, краски, электро инструменты, силовое оборудование, садовый инвентарь, измерительные инструменты, такелаж, пневмпатика, режущие инструменты, крепёжные изделия и многое другое</p>
          <p class="white-p">Мы находимся: г. Рязань, 185 км окружной дороги, рынок "Стройка", с6В, павильоны 1-10 и 1-11</p>
          <p class="white-p">Сайдинг покупайте в соседнем павильоне 2-12 по телефону <a href="tel:+79106181855" id="mom">8 910 618-18-55</a></p>
          <button type="button" name="button" class="call-back" onclick="return OpenPopup();">Заказать звонок</button>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="section2-inner">
        <h2>Каталог Товаров</h2>
        <div class="products">
          <div class="product product1">
            <div class="product-black"></div>
            <p>Ручные Инструменты</p>
            <a href="/product1">Подробнее</a>
          </div>
          <div class="product product2">
            <div class="product-black"></div>
            <p>Электро Инструменты</p>
            <a href="/product2">Подробнее</a>
          </div>
          <div class="product product3">
            <div class="product-black"></div>
            <p>Лаки, краски</p>
            <a href="/product3">Подробнее</a>
          </div>
          <div class="product product4">
            <div class="product-black"></div>
            <p>Крепежи</p>
            <a href="/product4">Подробнее</a>
          </div>
          <div class="product product5 product-last">
            <div class="product-black"></div>
            <p>Силовое оборудование</p>
            <a href="/product5">Подробнее</a>
          </div>
          <div class="product product6 product-last">
            <div class="product-black"></div>
            <p>Садовый инвентарь</p>
            <a href="/product6">Подробнее</a>
          </div>
          <div class="product product7 product-last">
            <div class="product-black"></div>
            <p>Измерительные инструменты</p>
            <a href="/product7">Подробнее</a>
          </div>
          <div class="product product8  product-last">
            <div class="product-black"></div>
            <p>Такелаж</p>
            <a href="/product8">Подробнее</a>
          </div>
          <div class="product product9 product-last">
            <div class="product-black"></div>
            <p>Режущие инструменты</p>
            <a href="/product9">Подробнее</a>
          </div>
          <div class="product product10 product-last">
            <div class="product-black"></div>
            <p>Пневматика</p>
            <a href="/product10">Подробнее</a>
          </div>
          <div class="product product11 product-last">
            <div class="product-black"></div>
            <p>Сайдинг</p>
            <a href="/product11">Подробнее</a>
          </div>
          <div class="product product12 product-last">
            <div class="product-black"></div>
            <p>Прочее</p>
            <a href="/product12">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="section3-inner">
        <h2>Доставка</h2>
        <p>Мы доставляем заказы по всей Рязанской области. Отправка происходит с наших складов г. Рязань, 185 км окружной дороги, рынок "Стройка", с6В, павильоны 1-10 и 1-11</p>
        <a href="/delivery">Узнать подробнее</a>
        <img src="img/delivery.png" alt="">
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="section4-inner">
        <h2>О Компании</h2>
        <p>Компания ИНSТРУМЕНТ уже более 10 лет на рынке занимается поставками широкого
спектра продукции. В нашем ассортименте вы найдёте:</p>
        <ul>
          <li>Ручные инструменты</li>
          <li>Электро инструменты</li>
          <li>Лаки, краски</li>
          <li>Крепежи</li>
          <li>Силовое оборудование</li>
          <li>Садовый инвентарь</li>
          <li>Измерительные инструменты</li>
          <li>Такелаж</li>
          <li>Режущие инструменты</li>
          <li>Пневматика</li>
          <li>Сайдинг</li>
          <li>Прочее</li>
        </ul>
        <a href="/about">Узнать подробнее</a>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="section5-inner">
        <h2>Где Мы Находимся</h2>
        <div class="our-location">
          <div class="our-location-contacts">
            <p class="p-head">Адрес:</p>
            <p class="p-p our-adress">г. Рязань, 185 км окружной дороги (Рынок «Стройка»)</p>
            <p class="p-head">Телефон:</p>
            <a href="tel:+79610111171" class="p-p our-phone">8 961 011-11-71</a>
            <p class="p-head">Режим работы:</p>
            <p class="p-p our-timework">Каждый день: 8:00 - 20:00</p>
          </div>
          <div class="our-location-img">
            <img src="img/shop.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <div>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Acd81d7efef12ad64950eb9adbc4c800f481fac271a3dc8689d4cb938d84fce50&amp;width=100%25&amp;height=350&amp;lang=ru_RU&amp;scroll=true"></script>
  </div>
  <button class="fixedphone" onclick="return OpenPopup();">
    <span class="outback"></span>
    <span class="backphone">Заказать звонок</span>
    <span class="frontphone"></span>
  </button>