<section class="main-section">
    <div class="container">
        <div class="shop-inner">
            <h2>Товары</h2>
            <div class="products">
                <div class="product product1">
                    <div class="product-black"></div>
                    <p>Ручные Инструменты</p>
                    <a href="/product1">Подробнее</a>
                </div>
                <div class="product product2">
                    <div class="product-black"></div>
                    <p>Электро-бензо Инструменты</p>
                    <a href="/product2">Подробнее</a>
                </div>
                <div class="product product3">
                    <div class="product-black"></div>
                    <p>Лаки, краски</p>
                    <a href="/product3">Подробнее</a>
                </div>
                <div class="product product4">
                    <div class="product-black"></div>
                    <p>Крепежи</p>
                    <a href="/product4">Подробнее</a>
                </div>
                <div class="product product5 product-last">
                    <div class="product-black"></div>
                    <p>Силовое оборудование</p>
                    <a href="/product5">Подробнее</a>
                </div>
                <div class="product product6 product-last">
                    <div class="product-black"></div>
                    <p>Садовый инвентарь</p>
                    <a href="/product6">Подробнее</a>
                </div>
                <div class="product product7 product-last">
                    <div class="product-black"></div>
                    <p>Измерительные инструменты</p>
                    <a href="/product7">Подробнее</a>
                </div>
                <div class="product product8  product-last">
                    <div class="product-black"></div>
                    <p>Такелаж</p>
                    <a href="/product8">Подробнее</a>
                </div>
                <div class="product product9 product-last">
                    <div class="product-black"></div>
                    <p>Режущие инструменты</p>
                    <a href="/product9">Подробнее</a>
                </div>
                <div class="product product10 product-last">
                    <div class="product-black"></div>
                    <p>Пневматика</p>
                    <a href="/product10">Подробнее</a>
                </div>
                <div class="product product11 product-last">
                    <div class="product-black"></div>
                    <p>Сайдинг</p>
                    <a href="/product11">Подробнее</a>
                </div>
                <div class="product product12 product-last">
                    <div class="product-black"></div>
                    <p>Прочее</p>
                    <a href="/product12">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>