html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-section {
  flex: 1 1 auto;
  padding-bottom: 64px;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 64px 0;
}

.input-field, .submit {
    margin: 8px 0;
    margin-bottom: 24px;
}

.input-field input {
    width: 100%;
    border-bottom: 1px solid #373737;
    height: 32px;
}